<%= form_with model: @document, local: true do |form| %>
 
    <% if @document.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@document.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @document.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, class:"form-control"  %>
    </p>
   
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description, class:"form-control"  %>
    </p>

    <p>
      <%= form.label :attachment %><br>
      <%= form.text_area :attachment, class:"form-control" %>
    </p>

    <p class="field">
      <%= form.file_field :attachment %>
    </p>
   
    <p>
      <%= form.submit "Update file", class: "btn btn-success"  %>
    </p>
   
  <% end %>