
<%= form_with scope: :document, url: documents_path, local: true do |form| %>
    <p>
        <strong>Title:</strong>
        <%= link_to @document.title, @document.attachment_url %>
    </p>
    
    <p>
        <strong>Description:</strong>
        <%= @document.description %>
    </p>

    <p>
        <strong>Attachment:</strong>
        <%= @document.attachment %>
    </p>

<% end %>

<%= link_to 'Back', documents_path, class: "btn btn-dark"  %>
<%= link_to 'Edit document', edit_document_path(@document), class: "btn btn-warning" %>
<%= link_to 'Delete document', document_path(@document), method: :delete,
data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %>
  