<!DOCTYPE html>
<html>
  <head>
    <title>Documentsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if flash[:notice] %>
      <p class = "alert alert-info"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class = "alert alert-info"><%= flash[:alert] %></p>
    <% end %>
  </head>

  <body>
    <div class = "container" style = "padding-top:20px;">
      <%= yield %>
    </div>
  </body>
</html>
